################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs
/obj
/Angelix_Vasquez_AP1_P1/bin/Debug/net9.0
/Angelix_Vasquez_AP1_P1/bin/Release/net9.0/cs
